<div class="container-fluid" style="margin-top:15px">
    <div class="row">
        <div class="col-md-2 mb-4" id="sidebar">
            {{> adminSidebar}}
        </div>
        <div class="col-md-10 mb-4">
            {{> alerts}}
            <div class="form-group">
                <label for="userType">Επιλογή τύπου χρήστη</label>
                <select class="form-control" id="selector">
                    <option value=1 selected>Φοιτητές</option>
                    <option value=2>Υπάλληλοι</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" id="search-bar" class="form-control" placeholder="Αναζήτηση...">
            </div>
            <div id="students">
                <h1>Όλοι οι φοιτητές</h1>
                <div class="list-group">
                    {{#each all}}
                    {{#if (ifEqual userType 'student')}}
                    <a href={{makeLink '/admin/all-' _id}} class="list-group-item list-group-item-action">{{lastName}}
                        {{firstName}} {{idNumber}} ({{department}})</a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div id="employees" style="display: none;">
                <h1>Όλοι οι υπάλληλοι</h1>
                <div class="list-group">
                    {{#each all}}
                    {{#if (ifEqual userType 'employee')}}
                    <a href={{makeLink '/admin/all-' _id}} class="list-group-item list-group-item-action">{{lastName}}
                        ({{department}})</a>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let selector = document.querySelector('#selector');
    let students = document.querySelector('#students');
    let employees = document.querySelector('#employees');
    let searchBar = document.querySelector('#search-bar');
    let users = document.querySelectorAll('.list-group-item');
    selector.addEventListener('change', displayUser);
    searchBar.addEventListener('keypress', findUser);

    function displayUser() {
        if (selector.value == 1) {
            students.style.display = 'block';
            employees.style.display = 'none';
        }
        if (selector.value == 2) {
            students.style.display = 'none';
            employees.style.display = 'block';
        }
    }

    function findUser(key) {
        if (key.keyCode === 13) {
            users.forEach(user => {
                if (user.innerHTML.includes(searchBar.value)) {
                    user.style.display = 'block';
                    user.style = 'border-top: 1px solid rgba(0, 0, 0, 0.125);'
                } else {
                    user.style.display = 'none';
                }
            })
        }
    }
</script>