<div class="container-fluid" style="margin-top:15px">
    <div class="row">
        <div class="col-md-2 mb-4" id="sidebar">
            {{> cardSidebar}}
        </div>
        <div class="col-md-10 mb-4">
            <h1>Ολες οι αιτήσεις προς έγκριση</h1>
            <div class="list-group">
                {{#each applications}}
                {{#if (ifEqual status '0')}}
                <a href={{makeLink '/card/check-' userId}}
                    class="list-group-item list-group-item-action">{{lastName}}</a>
                {{/if}}
                {{/each}}
            </div>
            <h1>Ολες οι αιτήσεις που εγκρίθηκαν </h1>
            <div class="list-group">
                {{#each applications}}
                {{#if (ifEqual status '1')}}
                <a href={{makeLink '/card/check-' userId}}
                    class="list-group-item list-group-item-action">{{lastName}}</a>
                {{/if}}
                {{/each}}
            </div>
            <h1>Ολες οι αιτήσεις που απορρίφθηκαν</h1>
            <div class="list-group">
                {{#each applications}}
                {{#if (ifEqual status '2')}}
                <a href={{makeLink '/card/check-' userId}}
                    class="list-group-item list-group-item-action">{{lastName}}</a>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>