<div class="container" style="margin-top:15px">
    <div class="row">
        <div class="col-md-3 mb-4" id="sidebar">
            {{> cardSidebar}}
        </div>
        <div class="col-md-9 mb-4">
            <div class="row justify-content-center">
                <div class="p-0 mx-2 w-100 border-bottom" style="background-color: #f5f5f5;">
                    <div class="container-fluid">
                        <div class="row shadow-sm">
                            <div class="col-sm-9 d-flex justify-content-start">
                                <h3 class="p-4 mb-0 w-100">Αίτημα Έκδοσης</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mx-2 my-0 w-100" style="max-width: 760px;">
                    {{> alerts}}
                </div>
            </div>
            <div class="form-row mb-3 mt-2">
                <div class="col">
                    <label for="inputFName">Όνομα</label>
                    <input type="text" class="form-control" disabled placeholder={{user.firstName}}>
                </div>
                <div class="col">
                    <label for="inputLName">Επώνυμο</label>
                    <input type="text" class="form-control" disabled placeholder={{user.lastName}}>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <label for="inputFatherName">Ονοματεπώνυμο πατρός</label>
                    <input type="text" class="form-control" disabled placeholder={{user.fatherName}}>
                </div>
                <div class="col">
                    <label for="inputMotherName">Ονοματεπώνυμο μητέρας</label>
                    <input type="text" class="form-control" disabled placeholder={{user.motherSurname}}>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    <label for="inputFatherName">Αριθμός μητρώου</label>
                    <input type="text" class="form-control" disabled placeholder={{user.idNumber}}>
                </div>
            </div>
            {{#notSent}}
            <form method="POST" class="form">
                <div class="form-group mb-2">
                    <label class="form-group-label" for="Φοιτητική ταυτότητα">Φοιτητική ταυτότητα</label>
                    <input type="file" class=" filepond" name="idCard">
                </div>
                <div class="form-group mb-2">
                    <label class="form-group-label" for="Φορολογική δήλωση">Φορολογική δήλωση</label>
                    <input type="file" class=" filepond" name="tax">
                </div>
                <div class="form-group mb-2">
                    <label class="form-group-label" for="Φωτογραφία">Φωτογραφία <small>(τύπου
                            ταυτότητας)</small></label>
                    <input type="file" class=" filepond" name="photo">
                </div>
                <button type="submit" class="btn">Υποβολή</button>
            </form>
            {{/notSent}}
            {{#unless notSent}}
            {{#if (ifEqual application.status '0')}}
            <div class="alert alert-warning mb-3 p-2" role="alert">Η αίτηση σας έχει υποβληθεί επιτυχώς.</div>
            {{/if}}
            {{#if (ifEqual application.status '0')}}
            <h3>Τα πιστοποιητικά που καταθέσατε</h3>
            <ul class="list-group">
                <a class="list-group-item list-group-item-action" download={{joinStr 'Πάσο_' user.idNumber}}
                    href={{imagePath idCard}}>Φοιτητική ταυτότητα</a>
                <a class="list-group-item list-group-item-action" download={{joinStr 'Φορολογική_' user.idNumber}}
                    href={{imagePath tax}}>Φορολογική δήλωση</a>
                <a class="list-group-item list-group-item-action" download={{joinStr 'Φωτογραφία_' user.idNumber}}
                    href={{imagePath photo}}>Φωτογραφία</a>
            </ul>
            {{/if}}
            {{#if (ifEqual application.status '1')}}
            <div class="alert alert-success mb-3 p-2" role="alert">Η αίτηση σας έχει εγκριθεί. Μπορείτε να την
                παραλάβετε από τα γραφεία της Μέριμνας</div>
            {{/if}}
            {{#if (ifEqual application.status '2')}}
            <div class="alert alert-danger mb-3 p-2" role="alert">Η αίτηση σας έχει απορριφθεί. Παρακαλώ ενημερώστε τα
                δικαιολογητικά σας. Λόγος απόρριψης: {{application.text}}</div>
            {{> cardUpdateForm}}
            {{/if}}
            {{/unless}}
        </div>
    </div>
</div>

<style>
    .filepond--panel-root {
        background-color: white;
        border: solid 1px lightgray ;
        border-radius: 2px;
    }
</style>